@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    background-image: url("resimler/bg.jpg");
    background-size: cover;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar footer";
    transition: grid-template-columns 0.3s ease;
}

body.sb-expand {
    grid-template-columns: 12.5rem 1fr;
}

.container {
    width: 100%;
    margin: auto;
}

/*! header start */

header {
    height: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color .25s ease;
}

nav ul li a:hover {
    color: #0ba2c0;
}

nav .menu {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

nav .menu .menu-button {
    color: #0ba2c0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08
